
   
    <div class="back">
 
     
     <div style="height: 200px;">
      <div class="logos ">
        <img class="logo1" src="../assets/logo1.jpg" style="width: 200px; height: 100px;">
        <h1 class="logo-title" style="color: rgb(18, 8, 80);">Ecole Nationale D'ingenieurs de Carthage</h1>
        <img class="logo2" src="../assets/logo2.png" style="width: 150px; height: 150px;" >
      </div>
    </div>
      <div class="carousell container-fluid flex-d " style="width: 1200;" >
      <carousel>
        <slide>
          <img src="../assets/e1.jpg" style="width: 1200px; height: 600px;" alt="slide-1">
          <div class="carousel-caption">
            <p class="caption">Forum Enicarthage</p>
          </div>
        </slide>
        <slide>
          <img src="../assets/e2.jpg" style="width: 1200px; height: 600px;"alt="slide-2">
          <div class="carousel-caption">
            <p class="caption">Forum Enicarthage</p>
          </div>
        </slide>
        <slide>
          <img src="../assets/e3.jpg" style="width: 1200px; height: 600px;" alt="slide-3">
          <div class="carousel-caption">
            <p class="caption">Forum Enicarthage</p>
          </div>
        </slide>
      </carousel>
    </div>
    
        <app-calendar></app-calendar>

    </div>
