
<div *ngIf="!inLoginPage()"  class="nav" >
    <nav  class="navbar navbar-expand-lg " style="background-color: #0E0636;">
        <div class=" navElement container-fluid">
          <a class="navbar-brand" style="color: aliceblue;cursor: pointer;" (click)="goToMain()" >Gestion d'Evenement</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style= "cursor: pointer;color: aliceblue;" aria-current="page" (click)="goToLog()">Logistique</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link active" style= "cursor: pointer;color: aliceblue;"  (click)="goToSponso()">Sponsoring</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style= "cursor: pointer;color: aliceblue;"  (click)="goToMedia()">Media</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " style= "cursor: pointer;color: aliceblue;" (click)="goToProc()">Gestion des Processus et d'Equipes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    </div>

<router-outlet></router-outlet>
