
<nav >
    <div class="flex">
        <div  class="card" style="width: 18rem;">
          <div class="img">
      <img style="height: 200px;" class="card-img-top" src="../../../../assets/occ.png" alt="Card image cap"></div>
      <div class="card-body">
        <li (click)="goToOc()"><h2>Ocs</h2></li>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img style="height: 200px" class="card-img-top" src="../../../../assets/equipe.jpg" alt="Card image cap">
      <div class="card-body">
        <li (click)="goToEquipe()"><h2>Equipes</h2></li>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img style="height: 200px" class="card-img-top" src="../../../../assets/pros.jpg" alt="Card image cap">
      <div class="card-body">
        <li (click)="goToProcessus()"><h2>Processus</h2></li>
      </div>
    </div>
  </div>
     
   
     
    </nav>
  
  
  <router-outlet></router-outlet>
  