.flex{
    display: flex;
    flex-direction: row;
    column-gap:100px;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
}
li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 25px;
  }
